html
    head
        title= "Change password"
    style
        include ../style.css
    body
        h1= powitanie
        form(action= url method="POST")
            input(type='username' name = 'us')
            br
            | Login
            br
            br
            input(type="password" name = 'pas')
            br
            | Hasło
            br
            br
            input(type="submit" value="Zapisz zmianę" id = 'zmiana')

