doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Quizzy!
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' media='screen' href='style.css')
    style
        include ../style.css
.grid
    #results
        h4 Twój wynik to:
        p#results_par.report #{result}
        h4 Kary za zadania:
        p#mistakes.report #{mistakes}
        h4 Suma kar:
        p#penalties.report #{penalties}
    #returnDiv
        form(method='get' action = '/end')
            input(type='submit' value = 'Zapisz wynik')#saveNoStats.return
    #statsDiv
        h4 Najlepsze wyniki:
        p#stats #{bests}
